<div id="imageDiv" class="imageStretch">
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
</div>
<div class="container">
    <br/><br/>
    <div id="descriptionDiv" class="main">
        <p class="main">
            <b>
                Recursion is a small team of Atlanta-based tournament organizers
                and community leaders in the competitive <i>Smash Bros.</i> community.
                Our goal is to promote the Georgia and Southeastern Smash scenes with
                propert production, well-run events, and community involvement.
            </b>
        </p>
    </div>
    <div id="extrasDiv">
        <!-- THIS IS WHERE WE WILL EMBED TWITCH AND YOUTUBE MODULES -->

    </div>
</div>