/* MAIN CSS */
body.main{
    text-align: center;
    align: center;

    padding-top: 2%;

    background-color: #232324;
}

hr.main{
    color: darkgrey;
    border-top: 2px solid lightgrey;
    height: 1px;
    width: 20%;
    opacity: 0.5;
    display:inline-block;
}
hr.main2{
    font-size:42pt;
}

div.main {
    margin:0 auto;
    font-size:18pt;
    width:80%;
}

div.extras{
    position:relative;
    align-content: center;
    display:inline-block;
}
div.twitch{
    padding-right:20px;
    padding-left:20px;
    position:relative
}
@media screen and (min-width: 62em){
    iframe.RCStwitch{
        height: 478px;
        width: 850px;
    }
}
@media screen and (min-width: 48em) and (max-width: 61em){
    iframe.RCStwitch{
        height: 366px;
        width: 650px;
    }
}

div.twitter{
    padding-left:100px;
    float:left;
}
div.videos{
    padding-left:50px;
    float:left;
}

p.main{
    color: darkgrey;
}

a:link.main{
    color:dimgrey;
    font-weight: 400;
}
a:visited.main{
    color:dimgray;
    font-weight: 400;
}
a:hover.main{
    color:dimgrey;
    font-weight: 400;
}
a:active.main{
    color:lightslategray;
    font-weight: 400;
}

img.stretch{
    background-size:cover;
    left:0px;
    margin:0;
}

div.imageStretchMain {
    background-image: url(../images/common/splash.banner.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:100%;
    background-color: transparent;
    background-size:cover;
}

/* THIS CENTERS CONTENT IN THE BOOTSTRAP NAVBAR */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    text-color: white;

}

/* THIS RESIZES THE LOADING IMAGE */
img.loading{
    height:30%;
    width:30%;
}
@media screen and (min-width: 49em) and (max-width: 62em){
    img.loading{
        width: 50%;
        height: 50%;
    }
}
@media screen and (min-width: 48em){
    img.loading{
        width: 40%;
        height: 40%
    }
}