/* MAIN CSS */
body.main{
    text-align: center;
    align: center;

    padding-top: 2%;

    background-color: #232324;
}

img.logo_header{
    height:0px;
    width:0px;
}
@media screen and (min-width: 48em) {
    img.logo_header{
        height:150px;
        width:125px;
    }
}

hr.main{
    color: darkgrey;
    border-top: 2px solid lightgrey;
    height: 1px;
    width: 20%;
    opacity: 0.5;
    display:inline-block;
}
@media screen and (max-width: 48em){
    hr.main{
        width: 0%;
    }
}

hr.main2{
    font-size:42pt;
}
hr.main3{
    width:70%;
}

div.main {
    margin:0 auto;
    font-size:18pt;
    width:80%;
}

@media screen and (min-width:62em) {
    .left_margin {
        padding-left: 50px;
    }
}

a:link.main{
    color:dimgrey;
    font-weight: 400;
}
a:visited.main{
    color:dimgray;
    font-weight: 400;
}
a:hover.main{
    color:dimgrey;
    font-weight: 400;
}
a:active.main{
    color:lightslategray;
    font-weight: 400;
}

/* THIS CENTERS CONTENT IN THE BOOTSTRAP NAVBAR */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    text-color: white;

}

/* THIS RESIZES THE LOADING IMAGE */
img.loading{
    height:30%;
    width:30%;
}
@media screen and (min-width: 49em) and (max-width: 62em){
    img.loading{
        width: 50%;
        height: 50%;
    }
}
@media screen and (min-width: 48em){
    img.loading{
        width: 40%;
        height: 40%
    }
}