<div class="georgiaArcadianStretch">
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <h1 class="tournaments georgiaArcadian">The Georgia Arcadian</h1>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
</div>

<div class="container">
    <div class="georgiaArcadianContent">
        <h2 class="tournament">Who the F%!K is ___?: The Georgia Arcadian</h2>
        <h3 class="tournaments">The first event hosted by Recursion, The Georgia Arcadian brought
            180 players from across the state to compete in their favorite 15 year-old game, quickly
            making it one of the largest Melee events in the state's history. An arcadian, in its premise,
            is a tournament meant to encourage newer and lower-level players to compete by means of
            removing the top-ranked talent from the equation.
        </h3>
    </div>
</div>

<!-- THIS DIV IS FOR PICTURES AND YOUTUBE VIDEOS -->
<div>

</div>