<div id="loading" ng-hide="ready">
    <img src="../../images/animated/RCSloadingWhite.gif"
         class="loading"/>
</div>
<div id="contents" ng-show="ready">
    <div class="superFamiConStretch">
        <br/><br/><br/><br/>
        <h1 class="tournaments superFamiCon">Super FamiCon</h1>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-lg-2"></div>
            <div class="col-sm-10 col-lg-8">
                <h2 class="tournaments">Super FamiCon</h2>
                <h3 class="tournaments">
                    Acting as both Nintendo Convention and multiple tournament, Super FamiCon
                    stands as North Carolina's first Melee regional tournament since Bad Moon Rising in 2015.
                </h3>
            </div>
            <div class="col-sm-1 col-lg-2"></div>
        </div>

        <br/>

        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VJPaxzg7Oc0"
                        class="featured" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>