<div id="loading" ng-hide="ready">
    <img src="../../images/animated/RCSloadingWhite.gif"
         class="loading"/>
</div>
<div id="contents" ng-show="ready">
    <div class="superFamiConStretch">
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-lg-1"></div>
            <div class="col-sm-10 col-lg-10 main">
                <h2 class="tournaments roboto_condensed">Super FamiCon</h2>
                <p class="tournament left_margin roboto_condensed">
                    Recursion’s first out-of-state tournament in Greensboro,
                    North Carolina, Super FamiCon 2016 was a Nintendo fan convention
                    and tournament with over 600 attendees. Recursion was contracted to
                    produce the main stream for the event as well as assist in logistical
                    planning and scheduling for the tournament. In addition to local
                    talent from the North Carolina Smash scene, Super FamiCon featured top
                    player attendance from the likes of DruggedFox, Colbol, and n0ne.
                </p>
            </div>
            <div class="col-sm-1 col-lg-1"></div>
        </div>

        <br/>
        <hr class="main3"/>

        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/keF5V4kGKgQ" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1 col-lg-1"></div>
            <div class="col-sm-10 col-lg-10 main">
                <h2 class="tournaments"></h2>
                <p class="tournament left_margin roboto_condensed">
                    After a dominant performance over Colbol in Winners Finals, DruggedFox moved onto Grand Finals
                    without dropping a single game. From narrowly losing to him in Winners Semis, n0ne proceeded to
                    come back through losers bracket and defeat Colbol in an nail-biting set to qualify for Grand
                    Finals. n0ne carried this momentum through Grand Finals, where his Falcon dominated DruggedFox
                    in a 6-0 performance to take home the title. The full top 8 video can be viewed above, including
                    hilarious commentary from duo MrBeenReady and Recursion’s own SleepyK.
                </p>
            </div>
            <div class="col-sm-1 col-lg-1"></div>
        </div>

        <br/>
        <hr class="main3"/>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 brackets">
                <h2 class="tournaments bebas">Links:</h2>
                <h3 class="tournaments bebas">
                    <a href="https://smash.gg/tournament/super-famicon-2016/events">All Brackets</a>
                </h3>
                <h3 class="tournaments bebas">
                    <a href="https://smash.gg/tournament/super-famicon-2016/events/melee-singles/brackets/87459">
                        Top 48
                    </a>
                </h3>
                <h3 class="tournaments bebas">
                    <a href="https://smash.gg/tournament/super-famicon-2016/events/melee-singles/brackets/71811">
                        Pools
                    </a>
                </h3>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img class="featured" src="../../../images/tournaments/SuperFamiCon/MikeSamiSmaller.jpg" width="100%" />
            </div>
            <div class="col-lg-2"></div>
        </div>

        <br/>
        <hr class="main3"/>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="tournaments roboto_condensed"><u>Youtube Playlists</u></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="tournaments bebas">Pools</h2>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?list=PLwn1_ksYqBaO5K-HJY8VivBsR_3pD9ikk"
                    frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="tournaments bebas">Top 48</h2>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?list=PLwn1_ksYqBaOcWn7QFvmia19Q5kbm_5Th"
                    frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 class="tournaments bebas">Doubles</h2>
                <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/videoseries?list=PLwn1_ksYqBaN4sO-_0V9nUougEfMqO4JG"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>