<div id="loading" ng-hide="ready">
    <img src="https://s3.amazonaws.com/rcswebsitebucket/client/images/animated/RCSloadingWhite.gif" class="loading"/>
</div>
<div class="container" ng-show="ready">
    <a href="/superFamiCon">
        <div class="superFamiCon">
            <br/><br/><br/><br/>
            <br/><br/><br/>
        </div>
    </a>
    <br/>
    <a href="/georgiaArcadian">
        <div class="georgiaArcadian">
            <br/><br/><br/><br/>
            <br/><br/><br/>
        </div>
    </a>
    <br/>
    <img src="https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/PortfolioBannerSoon.jpg" width="100%" heigh="350" />
</div>