<div id="loading" ng-hide="ready">
    <img src="../../images/animated/RCSloadingWhite.gif" class="loading"/>
</div>
<div class="container" ng-show="ready">
    <a href="/georgiaArcadian">
        <div class="georgiaArcadian">
            <br/><br/><br/><br/>
            <br/><br/><br/>
            <h2 class="tournaments georgiaArcadian">The Georgia Arcadian</h2>
        </div>
    </a>
    <br/>
	<a href="/superFamiCon">
		<div class="superFamiCon">
            <br/><br/><br/><br/>
            <br/><br/><br/>
            <h2 class="tournaments superFamiCon">Super FamiCon</h2>
		</div>
	</a>
    <br/>
    <img src="../../images/tournaments/ComingSoon.jpg" width="100%" heigh="350" />
</div>