/* TOURNAMENTS VIEW */
@media screen and (max-width: 62em){
    div.coverPhoto{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size:100%;
        background-color: transparent;
        background-size:cover;
    }
}

div.portfolioListing{
    height:350px;
    width:100%;
}

/* IMAGES */
div.georgiaArcadianPFP{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/TheGeorgiaArcadian/ArcadianBannerSmaller.jpg);
}
div.superFamiConPFP{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/SuperFamicon/FamiConBanner2Smaller.jpg);
}
div.functionPFP{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/Function/FunctionPortfolio.jpg);
}
div.bmr2PFP{

}
div.tippedOffPFP{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/TippedOff12/TippedOff12Banner.JPG);
}
div.superFamiCon2017PFP{

}
div.shine2017PFP{

}


/********************/
/* GEORGIA ARCADIAN */
div.georgiaArcadian{
    height:350px;
    width:100%;
}
@media screen and (max-width: 62em){
    div.georgiaArcadian {
        background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/TheGeorgiaArcadian/ArcadianBanner2Smaller.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size:100%;
        background-color: transparent;
        background-size:cover;
    }
}
div.georgiaArcadianStretch{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/TheGeorgiaArcadian/ArcadianBanner2Smaller.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:100%;
    background-color: transparent;
    background-size:cover;
}
div.georgiaArcadianContent{
    text-align: left;
}
h1.georgiaArcadian{
    font-size: 60pt;
    font-family: 'Times New Roman';
}
h2.georgiaArcadian{
    font-size: 40pt;
    font-family: 'Times New Roman';
}


h2.comingSoon{
    font-size: 40pt;
}
div.comingSoon{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/PortfolioBannerSoon.jpg);
}


img.featured{
    width:65%;
}
@media screen and (min-width: 48em){
    iframe.featured{
        width: 700px;
        height: 394px;
    }

    img.featured{
        width:100%;
    }
}

div.photoColumn{
    padding-left:100px;
    padding-right:20px;
    float:left
}
div.videoColumn{
    float:left;
}

/* IFRAMES */
@media screen and (min-width: 62em){
    iframe.FocusChaosDunk{
        width: 700px;
        height:394px;
    }
}

h1.tournaments, h2.tournaments,
h3.tournaments, h4.tournaments,
h5.tournaments{
    color:white;
}

p.tournament{
    font-size: 18pt;
    color:darkgrey;
    text-align: left;
    font-weight:normal;
    width:90%;
    margin:0 auto;
}
@media screen and (max-width: 62em){
    p.tournament {
        font-weight: 200;
        font-size: 20pt;
        color: darkgrey;
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }
}


div.brackets{
    text-align:center
}
@media screen and (min-width:64em){
    div.brackets{
        text-align:right
    }
}

h2.FocusChaosDunk{
    text-align: center;
    color:white;
}
@media screen and (min-width: 62em){
    h2.FocusChaosDunk{
        text-align: right;
        color:white;
    }
}


/* SUPER FAMICON */
h1.superFamiCon, h2.superFamiCon,
h3.superFamiCon, h4.superFamiCon,
h5.superFamiCon{
    color:white;
}

h1.superFamiCon{
    font-size: 65pt;
}
h2.superFamiCon{
    font-size:50pt;
}
div.superFamiCon{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/SuperFamicon/FamiConBanner2Smaller.jpg);
    height:350px;
    width:100%;
}
div.superFamiConStretch{
    background-image: url(https://s3.amazonaws.com/rcswebsitebucket/client/images/portfolio/SuperFamicon/FamiConBanner1Smaller.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size:100%;
    background-color: transparent;
    background-size:cover;
}