<div class="container">

    <!--
    <div upcomingpills-directive></div>
    <br/><hr/>
    -->

    <div class="row" ng-show="!eventsArray.length">
        <h1 class="tournaments">No Upcoming Events At This Time</h1>
        <h2 class="tournaments">Please check back at a later time!</h2>
    </div>

    <div class="row" ng-repeat="event in eventsArray" ng-show="eventsArray.length">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <h1 class="upcoming"><u>UPCOMING EVENTS</u></h1>
        </div>
        <br/>
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <!-- ACCORDIAN FOR EVENT -->
            <h2 class="tournaments bebas">{{ event.date | date: MM/dd/yyyy }}</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <h3>
                            <a ng-click="isCollapsed = !isCollapsed">
                                <h1 class="bebas">
                                    {{ event.name }}
                                    <span class="glyphicon glyphicon-menu-down" style="padding-left: 5px"></span>
                                </h1>
                            </a>
                        </h3>
                    </h4>
                </div>
                <div collapse="!isCollapsed">
                    <!-- CONTENT GOES HERE -->
                    <div class="row">
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-5">
                            <h2 class="bebas">REGISTER</h2><br/>
                            <div style="width:500px; text-align:left; margin: 0 auto">
                                <iframe ng-src="{{trustSrc(event.prereg)}}"
                                        frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5"
                                        marginwidth="5" scrolling="auto" allowtransparency="true">
                                </iframe>
                            </div>
                            <hr/>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-7">
                            <h2 class="bebas">TRAVEL</h2><br />
                            <iframe width="600" height="450" frameborder="0" style="border:0"
                                    ng-src="{{getGoogleMapsSrc(event.address)}}"
                                    allowfullscreen>
                            </iframe>
                            <br />
                            <h3>{{event.address}}</h3>
                            <br/>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>