<div class="panel panel-default" id="rankingsControlPanel" ng-show="sessionService.isAdminForRegion(regionService.region.id)">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a ng-click="isRankingsCollapsed = !isRankingsCollapsed">
                Rankings Control Panel
            </a>
        </h4>
    </div>
    <div collapse="isRankingsCollapsed">
        <div class="panel-body">
            <form id="rankingsControlPanelForm" ng-submit="saveRegionRankingsCriteria()">
                <!-- Options to tweak rankings go here -->
                <h3>Ranking Qualification:</h3>
                <span>
                 Span <input type="number" maxlength='3' id="numberDaysBackText" ng-model="rankingNumDaysBack" style="3px"/> Days Back.
                </span>
                <br/><br/>
                <span>
                Has Attended At Least <input type="number" maxlength="3" ng-model="rankingsNumTourneysAttended"
                                             style="3px"/> Tournaments

                </span>

                </br>
                <hr/>
                <br/>
                <span>
                    <h3>Tournament Inclusion:</h3>
                    Include Tournaments <input type="number" maxlength="3" ng-model="tourneyNumDaysBack" style="3px"/> Days Back
                    <!--
                        <br/>
                        OR
                        <br/>
                        Include Tournaments From <input type="date" ng-model="tournamentsBackStartDate" hint="mm/dd/yyyy"/>
                    -->
                </span>
                <br/><br/>
                <input type="submit" value="Save Changes"/>
            </form>
        </div>
    </div>
</div>