<div id="loading" ng-hide="ready">
    <img src="../../images/animated/RCSloadingWhite.gif" class="loading"/>
</div>
<div id="contents" class="teamContent" ng-show="ready">
    <div class="container">
        <h1 class="teamTitle left_margin">Players:</h1>
        <div ng-repeat="player in playersArray" class="left_margin">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{player.picture}}" height="250" width="225" class="teamImage">
                    <!--
                    <br/>
                    <h2 class="team">Notable Results:</h2>
                    <table class="team">
                        <tr>
                            <th class="team"><u>Tournament</u></h4></th>
                            <th class="resultPlacing"><u>Placing</u></h4></th>
                        </tr>
                        <tr ng-repeat="result in player.results" class="team">
                            <td>{{result.name}}</td>
                            <td class="resultPlacing"><b>{{result.place}}</b></td>
                        </tr>
                    </table>
                    -->
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-8 teamBio">
                    <h3 class="team"><span class="name">{{player.name}}</span></h3>
                    <h4 class="team">
                        <a href="http://www.twitter.com/{{player.twitter}}">@{{player.twitter}}</a>
                    </h4>
                    <p class="team">{{player.bio}}</p>
                </div>
            </div>
        </div>
        <hr class="team"/>
        <br/>
        <h1 class="teamTitle left_margin">Leadership:</h1>
        <div ng-repeat="staff in staffArray" class="left_margin">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img src="{{staff.picture}}" height="250" width="225" class="teamImage"/>
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-8 teamBio">
                    <h3 class="team"><span class="name">{{staff.name}}</span><span> - {{staff.position}}</span></h3>
                    <h4 class="team">
                        <a href="http://www.twitter.com/{{staff.twitter}}">@{{staff.twitter}}</a>
                    </h4>
                    <p class="team">{{staff.bio}}</p>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>