<div id="loading" ng-hide="readyQ.playersReady && readyQ.staffReady">
    <img src="../../images/animated/RCSloadingWhite.gif" class="loading"/>
</div>
<div id="contents" class="teamContent" ng-show="readyQ.playersReady && readyQ.staffReady">
    <div class="container">
        <h1 class="teamTitle"><u>PLAYERS</u></h1>
        <div ng-repeat="player in playersArray" class="left_margin">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <img src="{{player.picture}}" height="250" width="225" class="teamImage">
                    <!--
                    <br/>
                    <h2 class="team">Notable Results:</h2>
                    <table class="team">
                        <tr>
                            <th class="team"><u>Tournament</u></h4></th>
                            <th class="resultPlacing"><u>Placing</u></h4></th>
                        </tr>
                        <tr ng-repeat="result in player.results" class="team">
                            <td>{{result.name}}</td>
                            <td class="resultPlacing"><b>{{result.place}}</b></td>
                        </tr>
                    </table>
                    -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 teamBio">
                    <h3 class="team roboto_condensed"><span class="name">{{player.name}}</span></h3>
                    <h4 class="team roboto_condensed">
                        <a href="http://www.twitter.com/{{player.twitter}}">
                            <span>
                                <img src="https://s3.amazonaws.com/rcswebsitebucket/client/images/common/twitter-128.png" height="20" width="20" />
                            </span>
                            <span style="padding-left:2px;">
                                @{{player.twitter}}
                            </span>
                        </a>
                    </h4>
                    <p class="team roboto_condensed">{{player.bio}}</p>
                </div>
                <div class=" col-md-1"></div>
            </div>
        </div>
        <hr class="team"/>
        <br/>
        <h1 class="teamTitle"><u>LEADERSHIP</u></h1>
        <div ng-repeat="staff in staffArray" class="left_margin">
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <img src="{{staff.picture}}" height="250" width="225" class="teamImage"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 teamBio">
                    <h3 class="team roboto_condensed"><span class="name">{{staff.name}}</span><span> - {{staff.position}}</span></h3>
                    <h4 class="team roboto_condensed">
                        <a href="http://www.twitter.com/{{staff.twitter}}">
                            <span>
                                <img src="https://s3.amazonaws.com/rcswebsitebucket/client/images/common/twitter-128.png" height="20" width="20" />
                            </span>
                            <span style="padding-left:2px;">
                                @{{staff.twitter}}
                            </span>
                        </a>
                    </h4>
                    <p class="team roboto_condensed">{{staff.bio}}</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br/>
        </div>
    </div>
</div>