<div class="imageStretchContact">
    <br/><br/><br/><br/>

    <div class="container">
        <form ng-submit="submitContactForm()" class="contact">
            <h1 class="contact"> Contact Us</h1>
            <h4 class="contact">Name <b class="red">*</b></h4>
            <input type="text" ng-model="firstName" placeholder="First Name" maxlength="15">
            <input type="text" ng-model="lastName" placeholder="Last Name" maxlength="15"/>
            <h4 class="contact">Email <b class="red">*</b> </h4>
            <input type="text" ng-model="email" class="email"/>
            <br/>
            <h4 class="contact">Comment <b class="red">*</b> </h4>
            <textarea ng-model="comment" class="comment"></textarea>
            <br/>
            <input type="submit" value="Submit" />
        </form>
    </div>

    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
    <br/><br/><br/><br/>
</div>
